@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
    background-csolor: aqua;
    font-family: 'Pangolin', cursive;
}


h2 {
    color: purple
}
img {
    width: 400px;
}